ul{
    padding: 0;
    border: 0;
    margin: 0;
}

li {
    list-style: none;
    margin: 10px 10px;
    width: 80px;
    border: 2px solid;
    text-align: center;
    background: azure;
    border-radius: 10px;
    :hover {
        background: green;
    }
}


