<p-card>
    <p-header class="onM" (click)="showMediaDetails()">
        <h5 style="text-align: center">{{media.title}}</h5>
        <div class="container">
            <div class="row">
                <div class="col-md-4 hl">
                    <div style="width: 100%;">
                            {{media.likesCount}}
                            <i class="fa fa-thumbs-up"></i>
                    </div>
                    
                </div>
                <div class="col-md-4 hl">
                        <div style="width: 100%;">0
                    <i class="fa fa-thumbs-down"></i>
                    </div>
                </div>
                <div class="col-md-4">{{media.comments.length}}
                    <i class="fa fa-comments"></i>
                </div>
            </div>
        </div>
    </p-header>
    <article style="height: 200px; vertical-align: center">
        <img class="onM" (click)="showMediaDetails()" *ngIf="media.mediaType==='image'" 
            style="margin: auto;height: 100%;vertical-align: center" src="{{media.downloadUri}}"
            width="100%">

        <video *ngIf="media.mediaType==='video'" class="onM" (click)="showMediaDetails()" style="height: 100%; margin: auto; vertical-align: middle" src="{{media.downloadUri}}"
            width="100%"></video>
    </article>
    <p-footer>
        <div class="container" style="margin:0; border: 2px solid">
            <div class="row">
                <div class="col-md-8 hl">
                        <div style="margin-top: 10px; padding: 0;">
                                Follow <i style="display: inline-block; margin-left: 5px" class="fa fa-plus-circle"></i>
                        </div>
                </div>

                <div class="col-md-4 pull-right hl" (click)="delete()">
                    <div style="margin: 0; padding: 10px">
                        <i class="fa fa-trash"></i>
                    </div>
                </div>

            </div>
        </div>
    </p-footer>
</p-card>